* {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.section-title {
  font-size: 50px;
  padding: 50px;
  text-align: center;
  margin-bottom: 30px;
}

#about,
#schedule,
#faqs,
#prizes,
#sponsors,
#speakers,
#team,
#contact {
  margin-bottom: 50px;
}
/* nav */
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  height: 75px;
}

.nav-link {
  color: black;
  font-size: 25px;
}

/* intro */
#intro {
  height: 800px;
  background-color: #c8faff;
}

.hackathon-title {
  font-size: 60px;
  text-align: center;
  padding: 100px 0 50px 0;
}

.hackathon-description {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.hackathon-date {
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
}

.hackathon-countdown-title {
  font-size: 40px;
  text-align: center;
}

.hackathon-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  font-size: 25px;
}

.countdown-section {
  margin: 35px;
}

.countdown-number,
.countdown-label {
  text-align: center;
}

.involvement-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

.involve-btn {
  background-color: #ffadad;
  border-radius: 20px;
  text-align: center;
  border: none;
  padding: 15px 30px;
  font-size: 30px;
  margin: 50px;
}

/* about */
.about-content {
  display: flex;
}

.about-left {
  width: 45%;
}

.previous-events {
  background-color: #c5f1ff;
  border-radius: 20px;
  height: 500px;
  margin: 0 40px;
}

.about-right {
  width: 55%;
  vertical-align: center;
  padding-top: 10%;
  margin-right: 40px;
}

.about-text {
  font-size: 25px;
}

/* event schedule */
.schedules {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  margin: auto;
}

.schedule {
  background-color: #caffbf;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 50px;
}

.schedule-date {
  background-color: #adffce;
  border-radius: 20px 20px 0 0;
  font-size: 25px;
  text-align: center;
  padding: 15px 20px;
  font-weight: bold;
}

/* faqs */
.faq-questions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 95%;
  margin: auto;
}

.faq-question-card {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.faq-question {
  font-size: 25px;
  background-color: #ffd6a5;
  padding: 15px 20px;
  border-radius: 20px;
}

.faq-answer {
  font-size: 23px;
  background-color: #fdffb6;
  border-radius: 20px 20px 20px 20px;
  height: 200px;
  padding: 20px;
}

/* sponsors */
.sponsor-msg {
  text-align: center;
  margin-top: -40px;
  font-size: 30px;
  margin-bottom: 80px;
}

.email-link {
  color: blue;
  transition: color 0.5s;
}

.email-link:hover {
  color: rgb(108, 108, 248);
  transition: color 0.5s;
}

.sponsors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: auto;
}

.sponsor-logo {
  background-color: #adffce;
  border-radius: 20px;
  height: 200px;
  width: 350px;
  margin: auto;
  margin-bottom: 40px;
}

/* prizes */
.prize-tracks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 95%;
  margin: auto;
}

.prize-track-c1 {
  background-color: #a0c4ff;
  border-radius: 20px;
  margin: 30px;
  height: 400px;
}

.prize-track-c2 {
  background-color: #bdb2ff;
  border-radius: 20px;
  margin: 30px;
  height: 400px;
}

.prize-track-c3 {
  background-color: #ffc6ff;
  border-radius: 20px;
  margin: 30px;
  height: 400px;
}

.prize-track-info {
  padding-top: 30px;
}

.prize-track-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
}

.prize {
  text-align: center;
  font-size: 20px;
}

.prize-img {
  margin: 30px;
  border-radius: 20px;
  background-color: #c4c4c4;
  height: 255px;
}

/* speakers */

/* team */

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: auto;
  width: 95%;
}

.member-profile {
  margin: 30px 0;
}

.member-img-container {
  background-color: #ac2c2c;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  padding: 20px;
  margin: auto;
}

.member-info {
  margin: auto;
}

.member-name {
  text-align: center;
  font-size: 30px;
  padding: 30px 0 20px 0;
}

.member-role {
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.member-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  padding: 10px;
}

.social-link:visited {
  color: inherit;
}

.linkedin-icon,
.instagram-icon,
.github-icon {
  color: rgb(54, 53, 53);
  transition: color 0.5s;
}
.linkedin-icon:hover {
  color: #0e76a8;
  transition: color 0.5s;
}

.instagram-icon:hover {
  color:  #C13584; /* may be updated later for gradient */
  transition: color 0.5s;
}

.github-icon:hover {
  color: black;
  transition: color 0.5s;
}


/* contact us */
.contact-container {
  background:  #a0c4ff;
  height: 350px;
}
.section-title {
  height: 25px;
}

.instagram-container {
  background-color: #ffcbffee;
  border-radius: 50%;
  height: 54px;
  width: 53px;
  left: 33px;
  top: 20px;
  padding: 20px;
  margin: auto;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 50px;

}
.youtube-container {
  background-color: #ff9191;
  border-radius: 50%;
  height: 54px;
  width: 53px;
  left: 110px;
  top: 28px;
  padding: 20px;
  margin: auto;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 45px;
}
.website-container {
  background-color: #7bee98;
  border-radius: 50%;
  height: 54px;
  width: 53px;
  left: 192px;
  top: 28px;
  padding: 20px;
  margin: auto;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 45px;
}
.email-container {
  background-color: #FFC8DD;
  border-radius: 50%;
  height: 54px;
  width: 53px;
  left: 279px;
  top: 28px;
  padding: 20px;
  margin: auto;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
.cell {
  display: table-cell;
  font-size: 20px;
  padding: 15px;
}
.copyright-container {
  margin: auto;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 15px;
}
.sponsor-container {
  margin: auto;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 15px;
}
