/* fira sans */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Signika */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

/* global styles */
* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

.link {
  color: rgb(108, 108, 248);
  transition: color 0.5s;
}

.link:hover {
  color: #0084ff;
  transition: color 0.5s;
}

.section-title {
  font-size: 40px;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  font-family: "Signika", sans-serif;
  text-shadow: 2px 2px #c5f1ff;
  color: #f37076;
}

/* nav */
.nav {
  height: 75px;
  background-color: #c5f1ff;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 60px;
  padding: 5.5px;
  margin-left: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #c5f1ff;
  padding-left: 0;
}

.nav-link {
  color: black;
  font-size: 18px;
  text-decoration: underline solid transparent;
  transition: color 0.5s, text-decoration 0.5s ease;
}

.nav-link:hover {
  color: #f37076;
  text-decoration: underline;
  transition: color 0.5s, text-decoration 0.5s ease;
}

/* nav mobile */
/* burger nav */
.burger-container {
  margin-right: 20px;
}

.burger {
  display: inline-block;
  cursor: pointer;
  margin-top: 2px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  border-radius: 20px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-mobile {
  display: none;
  background-color: #c5f1ff;
}

.nav-mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-mobile {
  display: none;
  background-color: #c5f1ff;
  text-align: center;
  z-index: 999;
  padding-bottom: 10px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.nav-link-mobile {
  color: black;
  font-size: 18px;
  margin: 20px 0;
  background-color: #c5f1ff;
  text-decoration: underline solid transparent;
  transition: color 0.5s, text-decoration 0.5s ease;
}

.nav-link-mobile:hover {
  color: #f37076;
  text-decoration: underline;
  transition: color 0.5s, text-decoration 0.5s ease;
}

.grid {
  display: grid;
}

@media (max-width: 900px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: grid;
  }
}

  /* footer */
  .footer-container {
    background: #a0c4ff;
    margin: auto;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 30px;
    margin: auto;
  }
  
  .social-container {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: color 0.5s;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .social-container:hover {
    color: white;
    transition: color 0.5s;
  }
  
  .instagram {
    background-color: #e285e2;
  }
  
  .website {
    background-color: #6feb56;
  }
  
  .youtube {
    background-color: #ff5757;
  }
  
  .linkedin {
    background-color: #22aee1;
  }
  
  .email {
    background-color: #ffadad;
  }
  
  .footer-line {
    width: 90%;
    margin: auto;
    border: 1px solid #969696;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .copyright-sponsor-container {
    margin: auto;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 30px;
  }
  
  .footer-text {
    padding-top: 3px;
  }
  
  @media (max-width: 900px) {
    .contact-container {
      padding: 30px;
    }
  
    .social-container {
      height: 30px;
      width: 30px;
      padding: 10px;
      font-size: 10px;
      border-radius: 10px;
    }
  }
  